/* underline variant */
.underline::after {
  display: block;
  width: 84px;
  padding-top: 8px;
  content: '';
  border-bottom: 2px solid var(--link-color);
}

/* leftline variant */
.leftline::before {
  display: block;
  width: 2px;
  padding-top: 84px;
  content: '';
  border-left: 2px solid var(--link-color);
}
